<html>
  <head>
    <title>Local Agenda | Get Notified about Local Government Meetings</title>
    <link rel="stylesheet" type="text/css" href="/static/web.css" />
  </head>
  <body style="background-color: #3C3B6E;">
    <div class="about">
      <h1>About LocalAgenda</h1>

      <p>Local politics are important - you've seen that all over this website. I'm not trying to be redundant when I write that - I really mean it. To be clear, all politics are important, but often times the only time we get involved is when something makes national news. It's good to be involved in that stuff - we should care about big topics that are affecting the nation - but so often we forget the important topics that are affecting our friends and family that live just down the street. Local governments have a lot of control, and the decisions they make are important.</p>

      <p>The idea behind LocalAgenda is to not only remind us that our local politics are important, but also to lower the barrier to staying informed with what is happening. I'm no exception to the issue - without some sort of notification, there is no chance I will remember to check my local village council's meeting agendas. Important stuff slips by. My voice, my vote, my concerns don't get heard. I hope that LocalAgenda fixes this for me, and for you.</p>

      <p><a href="/">Sign up today</a> to get automatically emailed whenever a new local government meeting agenda is posted. Read through them, seriously. Look at what's important, and talk about it with your neighbors. Keep up with what is going on, and make your voice heard when it needs to be.</p>

    </div>

    <div class="footer far">
      <a href="/">Home</a>
      <a href="/privacy">Privacy</a>
      <a href="/cities">Cities</a>
    </div>
  </body>
</html>
