<html>
  <head>
    <title>Local Agenda | Get Notified about Local Government Meetings</title>
    <link rel="stylesheet" type="text/css" href="/static/web.css" />
  </head>
  <body style="background-color: #3C3B6E;">
    <div class="cities">
      <ul>
        {% for city in cities %}
          <li><a href="/c/{{ city['slug'] }}">{{ city['Name'] }}, {{ city['State'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer fixed">
      <a href="/">Home</a>
      <a href="/privacy">About</a>
      <a href="/privacy">Privacy</a>
    </div>
  </body>
</html>
